* {
  box-sizing: border-box;
}
.img img {
  width: 100%;
  height: 100%;
  border: 1px solid #61f7f7;
  background-color: #61f7f7;
  margin-right: auto;
  margin-left: auto;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
}
p {
  background-color: #95f0f0;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: rgb(51, 42, 42);
}
#barra {
  background-color: rgb(223, 213, 213);
  text-align: center;
  color: rgb(145, 127, 80);
}

.final {
  background-color: rgb(57, 61, 122);
}
@media (min-width: 1401px) {
  .col-lg-3 {
    float: left;
    width: 25%;
    background-color: rgb(206, 199, 201);
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  .col-lg-3 {
    float: left;
    border: 1px solid rgb(126, 198, 201);
    background-image: url(https://webstockreview.net/images/bouquet-clipart-decoration-14.jpg);
    padding: 3px;
    width: 45%;
  }
  .col8 {
    width: 55%;
  }
  .img img {
    width: 45%;
    margin: auto;
    display: block;
  }
  .img h1 {
    width: 20%;
    margin: auto;
    display: block;
  }
}

@media (min-width: 996px) and (max-width: 1200px) {
  .col6 {
    float: inline-end;
    border: 1px solid rgb(3, 82, 3);
    border-radius: 0px;
    width: 60%;
    display: block;
    margin: auto;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-wedding-fair-romantic-pink-flower-small-fresh-wedding-background-image_205733.jpg);
  }
  .col8 {
    width: 60%;
    display: block;
    margin: auto;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-wedding-fair-romantic-pink-flower-small-fresh-wedding-background-image_205733.jpg);
  }
  body {
    background-color: rgb(250, 207, 214);
  }

  .img img {
    width: 45%;
    margin: auto;
    display: block;
  }
  .img h1 {
    width: 20%;
    margin: auto;
    display: block;
  }
}
@media (min-width: 700px) and (max-width: 995px) {
  .col8 {
    border: 1px solid rgb(247, 231, 142);
    width: 50%;
  }
  body {
    background-image: url(https://www.gaulan.es/355497/papel-pintado-as-creation-fleuri-pastel-93770-1.jpg);
  }
}
